@import "ColorPalette.scss";

#App {
	background-color: map-get($colorPalette, "bg");
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-rows: auto 1fr;
	grid-template-columns: 1fr;
	grid-template-areas: "app-header"
		"app-main";
	align-items: center;
}
#RouteWrapper {
	grid-area: app-main;
	height: 100%;
	width: 100%;
	overflow: hidden auto;
}