@import "ColorPalette.scss";

#Grid {
	display: flex;
	flex-flow: column nowrap;
	width: 700px;
	height: 700px;
	border: 1px solid black;
	margin: 1rem;
}
.GridRow {
	flex: 1 1 20%;
	height: 100%;
	width: 100%;
	display: flex;
	flex-flow: row nowrap;
}

@media screen and (max-width: 768px) {
	#Grid {
		width: 100%;
		height: 100%;
	}
}