@import "ColorPalette.scss";

@mixin center-text($direction, $wrapping) {
	text-align: center;
	display: flex;
	flex-flow: $direction $wrapping;
	justify-content: center;
	align-content: center;
	vertical-align: middle;
}
@mixin generic-button($font-size) {
	padding: 0.5rem;
	font-size: $font-size;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	color: white;
	border: 1px solid white;
	border-radius: 4px;
	background: none;
	transition: background .2s;

	&:hover {
		cursor: pointer;
		background: map-get($colorPalette, "gridTileHover");
		color: black;
	}
}